* {
    
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size:14pt;
}
h1{
  font-family: "Bebas Neue";
  color: white;
  /*font-size: 60px;*/
  text-align: center;
}
h2{
  font-family: "Bebas Neue";
  color: white;
  font-size: 30px;
  text-align: center;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#h1containerTitle{
  font-family: "Bebas Neue";
  color: white;
  background-color: #8DAA91;
  text-align: center;
  font-size: clamp(20px, 5vmin, 40px); /* Shrinks but stays readable */
  font-weight: bold;
  color: black;
  
}
.container {
  width: 75%;
  
  border-radius: 7px;
  background-color: #788475;
  border: black 1px solid; 
  padding: 2px;
  position: relative;
  left: 12.5%;
  top: 10.5%;
  justify-content: center;
  box-shadow: 10px 10px 5px black;
  
  /*display:flex;
  flex-direction: row;            
  justify-content: center;    
  align-items: center;        
  
  flex-wrap: wrap;*/
}

.containerTitle {
  width: 100%;
  height: 7vh;
  border-radius: 7px 7px 0px 0px;
  
  margin-bottom: 15px;
  
  
  /*display:flex;
  flex-direction: row;            
  justify-content: center;    
  align-items: center;        
  
  flex-wrap: wrap;*/
}

.containerBody
{
  padding:5px 15px 25px 15px;
}

.containerFooter
{
  padding:5px 15px 25px 15px;
  text-align: right;
}

.containerFooter button
{
  width:45%;
}

.containerBody label
{
  font-family: arial;
  color:white;
  margin-top:0px !important;
}

/*.container img {
  object-fit: contain;
 or
  object-fit: cover; 
} */
img{
  object-fit: none;
  
  vertical-align: middle;
}  

.box {
  background-color: darkgray;
  border: white 1px solid;
  margin: 25px;
  padding: 25px; 
}

#box1, #box3 { flex: 1 }
#box2 { flex: 2 }

#leftHalf {
  background: url("./Images/prison.jpeg") no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire div */
  width: 50%; /* Half the viewport width */
  height: auto; /* Full viewport height */
  position: absolute;
  left: 0;
  top: 0;
}
#leftHalf img {
  width: 100%;
  height: 100vh; /* Maintains aspect ratio */
  max-height: 100vh; /* Ensures it doesn't get too big */
  overflow-clip-margin: content-box;
  overflow: clip;
}

#rightHalf {
  width: 50vw; /* Half the viewport width */
  height: 100%; /* Full viewport height */
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0D1821; /* Dark background to contrast */
}


#greybackground{
  background-color: #0D1821;
  font-size: 80px;
}

.button {
  background-color: #788475; 
  border: 2px solid #0D1821;
  color: white;
  padding: 5px 10px ;
  text-align: center;
  text-decoration: none;
  display:list-item ;
  font-size: clamp(15px, 5vmin, 30px);
  margin-bottom: 20px;
  font-family: "Bebas Neue";
  width: 100%;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}



.button:active {
  background-color: #8DAA91;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
.buttonLoginAndSignup{
  background-color: #788475; 
  border: 2px solid #0D1821;
  color: white;
  padding: 5px 10px ;
  text-align: center;
  text-decoration: none;
  display:inline-block ;
  font-size: clamp(15px, 5vmin, 30px);
  margin-bottom: 20px;
  font-family: "Bebas Neue";
  width: 100%;
  
}
.buttonLoginAndSignup:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}



.buttonLoginAndSignup:active {
  background-color: #8DAA91;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
input[type=text]{
  width: 100%;
  
  border: 2px solid #0D1821;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom:15px;
}

label{
  display: block;
  margin-top: 20px;
  margin-bottom: 2px;
}

.lightGreenBG
{
  background-color:#8DAA91;
}

.darkGreenBG{
  background-color:#788475;
}
.primaryBG
{

  
  background-color: #5da271;
}

.secondaryBG
{
  background-color: #384d48;
}


#inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  margin: 2px;
}
.inventory-box {
  width: calc(25% - 10px);
  max-width: 75px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #384d48;
  border: 3px solid #0D1821;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inventory-box:hover {
  background-color: #5da271;
}


body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 4px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


#mainGameContainer{
  width: 75%;
  left: 12.5%;
  top: 10.5%;
}
input[type=submit]{
  background-color: #5da271; 
  border: 2px solid #0D1821;
  color: white;
  padding: 5px 10px ;
  text-align: center;
  text-decoration: none;
  display:inline-block ;
  font-size: clamp(15px, 5vmin, 30px);
  margin-bottom: 20px;
  font-family: "Bebas Neue";
  width: 50%;
}

#inventory, #story, #options {
  color: red;
  padding: 10px;
  margin: 10px;
  background-color: rgb(50,50,50);
  border-radius: 10px;
}

#options {
  background-color: black;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
#options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 5px;
}
.option-box {
  flex-basis: auto;
  height: 30px;
  color: black;
  background-color: grey;
  border: 3px solid #384d48;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option-box:hover {
  background-color: #384d48;
}

#story-text {
  height: 30vh;
  min-width: 30vw;
  overflow: auto;
  word-wrap:break-word;  

}

@media (max-width: 995px) {
  #leftHalf {
      display: none;
  }

  #rightHalf {
      width: 100vw;  /* Takes full width when leftHalf is hidden */
  }
}
@media (max-height: 600px) {
  .buttons{
      display:inline-block ;
  }

  /*
  .container{
      display: flex; /* Ensures buttons are side by side 
      justify-content: center; /* Centers them 
      gap: 10px; /* Adds spacing between buttons 
  }
  */
}